.canvas-container{
    width:calc(100% - 220px);
    // margin-left: 220px;
    .draw-canvas{
        display: block;
        margin: 1vh 1% 1vh 1%;
        width:98%;
        // height:98vh;
    }
};
.settings-container{
    position: absolute;
    top:10px;
    left:10px;
}